body {
    font-family: sans-serif;
    margin: 20px;
}

img,
video {
    display: block;
    max-width: 100%;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

#slide-elements {
    display: grid;
    grid-area: 1/1;
}

#slide-elements>* {
    grid-area: 1/1;
    opacity: 0;
    visibility: none;
}

#slide-elements>.active {
    opacity: 1;
    visibility: visible;
}

#slide {
    display: grid;
}

#slide-controls {
    grid-area: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

#slide-controls button {
    opacity: 0;
    appearance: none;
    background-color: transparent;
}

#slide-thumb {
    display: flex;
    position: absolute;
    width: 100%;
}

#slide-thumb>span {
    flex: 1;
    display: block;
    height: 4px;
    background-color: rgba(255, 255, 255, .2);
    margin: 5px;
    border-radius: 4px;
    pointer-events: none;
    overflow: hidden;
    isolation: isolate;
}

#slide-thumb .thumb-item.active {
    display: block;
    height: inherit;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 4px;
    transform: translateX(-100%);
    animation: thumb forwards linear running;
}

#slide-thumb .thumb-item.paused {
    animation-play-state: paused
}

@keyframes thumb {
    to {
        transform: initial;
    }
}